.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (min-width: 420px) , (max-width:768px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .row{
    width: 100%;
    margin: 3em 7em;
    /* background-color: bisque; */
    margin: 0 ;
    color: white;
    font-weight: 600;
  }

  .row h3 {
    padding: 1em 0;
  }

  #lezioni .row{
    background-color: orange;
  }

  .row h1{
    margin-bottom:2em ;
    text-decoration: underline;
  }

  .row img{
    width: 100px;
    height:100px;
  }

  #lezioni .row > .left,
  #lezioni .row > .right{
    width: 100%;
    margin-bottom: 2em;

  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    margin-bottom: 2em;
    width: 100%;
  }

  #why .row img {
    background-color: #428bca;
  }

  .container.grey {
    background-color: blue;
  }

  #why .row{
   background-color: orange;
  }
  }

@media screen and (max-width:419px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .row{
    width: 100%;
    margin: 3em 7em;
    /* background-color: bisque; */
    margin: 0 ;
    color: black;
    font-weight: 400;
  }

  #lezioni .row{
    background-color: #f2f2cd;
  }

  .row h1{
    margin-bottom:2em ;
  }

  .row img{
    width: 100px;
    height:100px;
  }

  #lezioni .row > .left,
  #lezioni .row > .right{
    width: 100%;
    margin-bottom: 2em;

  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    margin-bottom: 2em;
    width: 100%;
  }

  #why .row img {
   background-color: #428bca;
  }

  .container.grey {
    background-color: white;
  }

  #why .row{
    background-color: #f2f2cd;
  }
}
